#auth{
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form{
    padding:1.25rem;
    background:white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    border-radius: 10px;

    a{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      font-weight: 500;
      color:$secondary;
      margin-bottom: .5rem;
    }

    .icons{
      display: flex;
      margin-top:.5rem;

      .icon{
        margin:.25rem;
        padding:.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        & > *{
          width:1.5rem;
          height:1.5rem;
          color:white;
        }
      }
    }

    .input{
      width:100%;
      border:none;
      outline:none;
      padding:1rem;
      background:#f4f4f4;
      border-radius: 8px;
      margin-bottom: .75rem;
    }

    h3{
      color:$secondary;
      font-size: 15px;
      margin-top:.75rem;
      font-weight: 500;

      span{
        color:$primary;
        cursor: pointer;
      }
    }

    h4{
      font-size: 14px;
      color: $secondary;
      font-weight: 500;
      margin-top: .5rem;
      position: relative;

      &::after , &::before{
        content:"";
        background:$secondary;
        width:25px;
        height:4px;
        border-radius: 50px;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
      }

      &::after{
        right:-30px;
      }

      &::before{
        left: -30px;
      }
    }

    button{
      background:$primary;
      color:white;
      border:none;
      outline:none;
      cursor:pointer;
      padding:.7rem 1.5rem;
      transition: .5s;
      width: 100%;
      font-weight: 500;
      border-radius: 8px;

      &:hover{
        background: #D98201;
      }
    }
  }
}

@media(max-width:640px)
{
  #auth{
    form{
      width:90%;
    }
  }
}