.btn{
  background:$primary;
  height:35px;
  width: 35px;
  position:fixed;
  bottom:25px;
  right:25px;
  color:white;
  border:none;
  outline:none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s;
  z-index:55555;
}

.visible{
  opacity: 1;
  cursor: pointer;
}