#home{
  padding:2rem 10vw;
  min-height: calc(100vh - 112px);
  display: flex;

  .container{
    display: flex;
    width: 100%;

    .wrapper{
      width:50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:1.25rem;
  
        h1{
          color:$primary;
          font-size: 2.5rem;
          width:80%;
        }
  
        h3{
          color:$secondary;
          font-weight: 400;
          font-size: 1.25rem;
          width:60%;
          line-height: 2.5rem;
        }

        a{
          display: flex;
          background:$primary;
          padding:1rem .75rem;
          color:white;
          border-radius: 7px;
          gap:.75rem;
          transition: .3s;

          h5{
            font-weight: 400;
          }

          &:hover{
            background:#D98201;
          }
        }
      }
    }

    .image{
      width:50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img{
        width:80%;
      }
    }
  }
}

// tablet devices

@media(max-width:1024px)
{
  #home{
    .container{
      flex-direction: column;
      justify-content: space-around;

      .wrapper{
        width:100%;
      }

      .image{
        width:100%;
        justify-content: center;

        img{
          width:80%;
        }
      }

    }
  }
}

// mobile devices

@media(max-width:640px)
{
  #home{
    padding:1rem 8vw;

    .container{
      flex-direction: column;

      .wrapper{
        width:100%;
        margin-bottom: 1.5rem;

        .text{
          
          h1{
            width:80%;
            font-size: 1.2rem;
            
          }

          h3{
            width:80%;
            font-size: .9rem;
          }

          a{
            padding:.8rem .75rem;
            align-items: center;

            h5{
              font-size: .65rem;
            }
          }
        }
      }

      .image{
        width: 100%;
        justify-content: center;

        img{
          width: 70%;
        }
      }
    }

  }


}