#menu{
  padding:2rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3rem;
  min-height:80vh;

  .grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:1.5rem;

    .item{
      background:white;
      box-shadow: 0px 2px 12px rgba(0,0,0, 0.15);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding:1.5rem;
      align-items: center;
      gap:.75rem;

      div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;

        h1{
          color:$secondary;
          font-size: 1rem;
          font-weight: 500;
        }

        h3{
          color:red;
        }

      }

      button{
        background:$primary;
        border:none;
        outline:none;
        color:white;
        width:100%;
        padding:.75rem 1rem;
        border-radius: 8px;
        cursor: pointer;
        transition: .3s;

        &:hover{
          background:#D98201;
        }
      }

      img{
        width:60%;
      }
    }

  }

  .header{
    text-align: center;

    h1{
      color:$primary;
      margin-bottom:.5rem;
    }

    h3{
      color:$secondary;
      font-weight: 400;
    }
  }
}

// tablet devices

@media(max-width:1024px)
{
  #menu{

    .grid{
      grid-template-columns: repeat(2 , 1fr);
    }
  }
}

// mobile devices

@media(max-width:640px)
{
  #menu{
    padding:1rem 8vw;

    .header{
      h1{
        font-size: 1.25rem;
      }
  
      h3{
        font-size: .8rem;
      }
    }

    .grid{
      grid-template-columns: repeat(1 , 1fr);
      gap:1.75rem;
    }
  }
}