nav.sticky {
  background: white;
  padding: 1rem 10vw;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.cart{
  background:#f8f8f8;
  position:fixed;
  top:0px;
  right:0px;
  height:100vh;
  width:0%;
  z-index:99999999999999999999999;
  transition: .5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  
  &::-webkit-scrollbar{
    width:8px;
  }

  .top{
    .cart-items{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin:2rem 0rem;
      gap:1rem;

      .item{
        background:white;
        width:100%;
        padding:1rem;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        display: flex;

        .left{
          width:40%;
          display: flex;
          align-items: center;
          gap:.5rem;

          h3{
            color:$secondary;
            font-size: 1rem;
            font-weight: 500;
          }

          img{
            width:30%;
          }
        }

        .right{
          width:60%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .actions{
            display: flex;
            align-items: center;
            gap:.75rem;

            .number{
              color:$secondary;
            }

            .minus{
              background:$primary;
              color:white;
              width:20px;
              height:20px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }

            .plus{
              background:$primary;
              color:white;
              width:20px;
              height:20px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }

          }

          .trash{
            color:$secondary;
            cursor: pointer;
          }

          h4{
            color:red;
            font-weight: 600;
          }
        }

      }
    }

    .icon{
      cursor: pointer;
      width:1.25rem;
      height:1.25rem;
      color:$secondary;
    }
  }

  .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
      font-weight: 700;
      color:$secondary;

      span{
        color:red;
        font-weight: 600;
      }
    }

    button{
      background:$primary;
      border:none;
      outline:none;
      color:white;
      padding:.75rem 1.75rem;
      border-radius:8px;
      cursor:pointer;
      transition: .3s;

      &:hover{
        background:#D98201;
      }
    }
  }
}

.cart.translated{
  width:35%;
  padding: 1.75rem 1rem .75rem 1.5rem;
}

nav {
  padding: 2rem 10vw;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background: #f8f8f8;
  transition: .3s;
  z-index: 555555;

  .mobile-list{
    display: none;
  }

  .bars {
    display: none;
  }

  .website {
    display: flex;
    align-items: center;
    gap: .75rem;
    width: 150px;

    img {
      width: 30%;
    }

    h1 {
      color: $primary;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .desktop-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      color: $primary;
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 100%;
        background: $primary;
        position: absolute;
        right: 0px;
        bottom: -10px;
        border-radius: 50px;
        transition: .5s;
        transform: scale(0, 1);
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    .icon {
      width: 2rem;
      height: 2rem;
      color: $primary;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: #D98201;
      }
    }

    .link {
      height: 30px;
    }

    .num {
      background: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
      position: absolute;
      right: -5px;
      bottom: 0px;
      cursor: pointer;

      color: $secondary;
    }

    a:not(.link) {
      display: flex;
      background: $primary;
      align-items: center;
      padding: .75rem 1.25rem;
      border-radius: 7px;
      color: white;
      gap: .5rem;
      transition: .3s;

      h3 {
        font-weight: 400;
        font-size: 1rem;
      }

      &:hover {
        background: #D98201;
      }

    }
  }
}

// tablet devices

@media(max-width:1024px) {
  nav{

    .desktop-list{
      display: none;
    }

    .mobile-list{
      background:$primary;
      position:fixed;
      top:0px;
      right:0px;
      height:100vh;
      width:0%;
      display: flex;
      z-index:999999999999;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: .5s;
      overflow: hidden;

      .list{
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
          color:white;
          margin-bottom: 1rem;
        }
      }

      a:not(.list a){
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap:.25rem;
        color:white;

        h3{
          color:white;
          font-weight: 400;
          font-size:1rem;
        }
      }

      
    }

    .mobile-list.opened{
      width:25% !important;
    }

    .wrap {
      display: flex;
      align-items: center;
      gap:.75rem;

      .bars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        margin-top:.25rem;
        z-index:9999999999999;
        transition: .5s;
        position:relative;

        .bar{
          background:$primary;
          width:100%;
          height:4px;
          transition: .5s;
          border-radius: 50px;
        }
      }

      .bars.clicked{

        .bar{
          background:white;
          position: absolute;
          top:50%;

          &:first-of-type{
            transform: rotate(45deg);
          }

          &:nth-of-type(2){
            opacity:0;
          }

          &:last-of-type{
            transform: rotate(-45deg);
          }
        }
      }

      .container {

        a:not(.link) {
          display: none;
        }
      }
    }

  }
}

// mobile devices

@media(max-width:640px) {
  nav.sticky {
    background: white;
    padding: 1.25rem 8vw;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }

  .cart.translated{
    width:100%;
    padding: 1.75rem 1.25rem 1rem;
  }

  .cart{
    .top{
      .cart-items{
        .item{
          .left{
            h3{
              font-size: .75rem;
            }
          }
        }
      }
    }
  }

  nav {
    padding: 1.75rem 8vw;

    .mobile-list{
      background:$primary;
      position:fixed;
      top:0px;
      right:0px;
      height:100vh;
      width:0%;
      display: flex;
      z-index:999999999999;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: .5s;
      overflow: hidden;

      .list{
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
          color:white;
          margin-bottom: 1rem;
        }
      }

      a:not(.list a){
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap:.25rem;
        color:white;

        h3{
          color:white;
          font-weight: 400;
          font-size:1rem;
        }
      }

      
    }

    .mobile-list.opened{
      width:38% !important;
    }

    .wrap {
      display: flex;
      align-items: center;
      gap:.75rem;

      .bars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        margin-top:.25rem;
        z-index:9999999999999;
        transition: .5s;
        position:relative;

        .bar{
          background:$primary;
          width:100%;
          height:4px;
          transition: .5s;
          border-radius: 50px;
        }
      }

      .bars.clicked{

        .bar{
          background:white;
          position: absolute;
          top:50%;

          &:first-of-type{
            transform: rotate(45deg);
          }

          &:nth-of-type(2){
            opacity:0;
          }

          &:last-of-type{
            transform: rotate(-45deg);
          }
        }
      }

      .container {

        a:not(.link) {
          display: none;
        }
      }
    }


    .desktop-list {
      display: none;
    }
  }
}